.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width:280px;
    margin-top: 50px;
}
.input {
    width: 100%;
    border:inherit;
    outline: inherit;
    height: 35px;
    padding: 10px 20px;
    background-color: #ffffff;
    font-size: 14px;
    color : #383838;
}

@media (max-width: 480px) {
    .form {
        width:80%;
    }
}