.list-ctn {
    display: flex;
    justify-content: space-between;
    padding:  20px;
    border-radius: 3px;
    background-color: #fff;
    width: 450px;
    height: fit-content;
}
.list-info {
    display: flex;
    align-items: center;
    gap:80px;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.list-title {
    color : #8b8b8b;
    font-size: 12px;
}
.list-data { 
    color : #393939;
    font-size: 14px;
}
.list-icn {
    
    font-size: 15px;
    cursor: pointer;
}